@use '../custom'as *;
@use '../template/mixin'as *;

.intro-page {
    @include colors;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;


    .img-box {
        position: relative;
        height: 100%;

        img {
            width: 500px;
        }

    }

}

.animate {
    position: absolute;
    animation: border-logo 1.2s linear infinite;

    &-hi {
        animation-delay: 2s;
    }

}